.counter-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter-box [class^="counter-btn-"] {
    width: 20px;
    height: 20px;
    /* font-size: 15px; */
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    padding: 2px;
    /* margin: 2px 5px; */
}

.counter-box .counter-btn-negative{
    background-color: rgb(231, 148, 148);
}

.counter-box .counter-btn-positive{
    background-color: rgb(43, 189, 109);
}

.counter-small-box {
    width: 25px;
    height: 20px;
    text-align: center;
    border: 1px solid black;
    margin: 0 5px;
}

.namsmaran-counter-small-box{
  width: 60px;
}

.note {
    font-size: 0.8rem; /* Adjust size as needed */
    color: #555; /* Optional: for a softer text color */
  }

.modal-note {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
    font-size: 0.6rem; /* Adjust size as needed */
}

/* Optional styling for the note */
.modal-note p {
    margin: 5px 0;
}

.modal-note strong {
    font-weight: bold;
    color: #333;
}